html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#yt-overlay {
    position: fixed;
    z-index: 2147483647;
    overflow: hidden;
    border-radius: 16px;
    background: black;
}
#yt-overlay iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

